<html lang="en">

  <head>
    <!-- Meta Data -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, inital-scale=1.0" />
    <title>Yūgen</title>
    <!-- map style imports -->
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.css' rel='stylesheet' />
    <link href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css" rel="stylesheet">
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="./assets/images/icon.png" />
    <!-- bootstrap -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css"
    />
    <!-- Personal CSS -->
    <link rel="stylesheet" href="/css/{{style}}" />
    <!-- Cinzel font import from google fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap"
      rel="stylesheet"
    />
    <!-- Fauna One font import from google fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Fauna+One&display=swap"
      rel="stylesheet"
    />
    <style>
      /* changes all headers to cinzel with bold font weight */ h1, h2,
      h3, h4, h5 { font-family: 'Cinzel', serif; font-weight: bold; } /* sets
      all unspecified text to fauna one and font size to 21px */ body {
      font-family: 'Fauna One', serif; font-size: 21px; }
    </style>

  </head>

  <body>
    {{{body}}}
  </body>

</html>