<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, inital-scale=1.0">
    <title>Yūgen</title>
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="./assets/images/icon.png">
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <!-- Personal CSS -->
    <link rel="stylesheet" href="/css/signup.css">
    <!-- Cinzel font import from google fonts -->
    {{!-- <link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet"> --}}
    <!-- Fauna One font import from google fonts -->
    {{!-- <link href="https://fonts.googleapis.com/css2?family=Fauna+One&display=swap" rel="stylesheet"> --}}
    {{!-- <style>
        /* changes all headers to cinzel with bold font weight */
        header, h1, h2, h3, h4, h5 {
            font-family: 'Cinzel', serif; 
            font-weight: bold;
        }
        /* sets all unspecified text to fauna one and font size to 21px */
        body {
            font-family: 'Fauna One', serif; font-size: 21px;
        }
    </style> --}}
</head>

  <body>
    {{{body}}}
  </body>


</html>

