

    <header>Yūgen</header>


    <div class="card">
        <section class="h-100">
            <div class="container h-100">
                <div class="row justify-content-md-center h-100">
                    <div class="card-body">
                        <h3 class="card-title">Login:</h3>
                        <form method="POST" class="login">
                            <div class="login-info">
                            </div>
                            <div class="login-info">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">Username:</span>
                                    </div>
                                    <input type="text" id="username-signin" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                                  </div>
                            </div>
                            <div class="login-info">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">Password:</span>
                                    </div>
                                    <input type="password" id="password-signin" class="form-control" aria-label="Password" aria-describedby="basic-addon1">
                                  </div>
                            </div>
                            <div class="login-info row">
                                <button type="submit" class="btn btn-primary">Login</button>
                                <button type="submit" class="btn btn-primary">Sign Up</button>
                            </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

<script src="/js/signin.js"></script>