

    <header>Yūgen</header>


    <form class="login-form">
    <div class="card">
        <section class="h-100">
            <div class="container h-100">
                <div class="row justify-content-md-center h-100">
                    <div class="card-body">
                        <h3 class="card-title">Login:</h3>
                            <div class="">
                            </div>
                            <div class="">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">Username:</span>
                                    </div>
                                    <input type="text" id="username-login" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                                  </div>
                            </div>
                            <div class="">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">Password:</span>
                                    </div>
                                    <input type="password" id="password-login" class="form-control" aria-label="Password" aria-describedby="basic-addon1">
                                  </div>
                            </div>
                            <div class="row">
                                <button type="submit" class="btn btn-primary" id="login-btn">Login</button>
                                <a href="/signup" class="btn btn-primary">Sign Up</a>
                            </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    </form>

<script src="./js/login.js"></script>