<!-- Desktop Navbar -->
    <header>
      <nav>
        <ul class="nav-list">
          <li class="nav-item">
            <a href="#"><img src="./assets/images/y-1.jpg" alt="logo" srcset=""></a>
          </li>
          <li class="nav-item">
            <a href="#">Home</a>
          </li>
          <li class="nav-item">
            <a href="#">Adventure Log</a>
          </li>
          <li class="nav-item">
            <a href="#">About</a>
          </li>
          <li class="nav-item">
            <button class="btn-primary">Logout</button>
          </li>
        </ul>
      </nav>
    </body>
    </header>

    <main>
      <div class="rt-container">
        <div class="col-rt-12">
          <div class="Scriptcontent">
            <!-- User Profile -->
            <div class="student-profile py-4">
              <div class="container">
                <div class="row">
                  <div class="col-lg-4">
                    <div class="card shadow-sm">
                      <div class="card-header bg-transparent text-center avatar">
                        <img
                          class="avatar"
                          src="./assets/images/profilepic.jpg"
                          alt="User's profile image"
                        />
                        <input type="file" id="actual-btn"/>
                        <label for="actual-btn">Choose File</label><br />
                        <h3>Username goes here </h3>
                      </div>
                      <div class="card-body">
                        <p class="mb-0">
                          If we want to implement a description for user
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-8">
                    <div class="card shadow-sm">
                      <div class="card-header bg-transparent border-0">
                        <h3 class="mb-0">
                          <i class="far fa-clone pr-1"></i>Adventure Log:
                        </h3>
                      </div>
                      <div class="card-body pt-0">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                          Autem labore accusamus minus explicabo ipsa corporis incidunt, 
                          quis recusandae distinctio deserunt, dicta ea inventore magnam 
                          eius facere quia voluptatum laborum qui.</p>
                      </div>
                    </div>
                    <div style="height: 26px"></div>
                    <div class="card shadow-sm">
                      <div class="card-header bg-transparent border-0">
                        <h3 class="mb-0">
                          <i class="far fa-clone pr-1"></i>Map Goes Here:
                        </h3>
                      </div>
                      <div class="card-body pt-0">
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipiscing
                          elit, sed do eiusmod tempor incididunt ut labore et
                          dolore magna aliqua. Ut enim ad minim veniam, quis
                          nostrud exercitation ullamco laboris nisi ut aliquip
                          ex ea commodo consequat.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
