
{{!-- <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, inital-scale=1.0">
    <title>Travel Blogger</title>
    <script src=""></script>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <!-- Cinzel font import from google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet">
    <!-- Fauna One font import from google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Fauna+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./public/css/newpoststyles.css" />
    <style>
        /* changes all headers to cinzel with bold font weight */
        header, h1, h2, h3, h4, h5 {
            font-family: 'Cinzel', serif; 
            font-weight: bold;
        }
        /* sets all unspecified text to fauna one and font size to 21px */
        body {
            font-family: 'Fauna One', serif; font-size: 21px;
        }
    </style>
</head> --}}

<!-- Desktop Navbar -->
    <header>
      <nav>
        <ul class="nav-list">
          <li class="nav-item">
            <a href="#"><img src="./assets/images/y-1.jpg" alt="logo" srcset=""></a>
          </li>
          <li class="nav-item">
            <a href="#">Home</a>
          </li>
          <li class="nav-item">
            <a href="#">Adventure Log</a>
          </li>
          <li class="nav-item">
            <a href="#">About</a>
          </li>
          <li class="nav-item">
            <button class="btn-primary">Logout</button>
          </li>
        </ul>
      </nav>
    </header>

    <main>
      <div class="rt-container">
        <div class="col-rt-12">
          <div class="Scriptcontent">
            <!-- User Profile -->
            <div class="student-profile py-4">
              <div class="container">
                <div class="row">
                  <div class="col-lg-4">
                    <div class="card shadow-sm">
                      <div class="card-header bg-transparent text-center avatar">
                        <img
                          class="avatar"
                          src="./assets/images/profilepic.jpg"
                          alt="User's profile image"
                        />
                        <button id="open-modal">Update Profile Picture</button>
                        <h3>Username goes here </h3>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-8">
                    <div class="card shadow-sm">
                      <div class="card-header bg-transparent border-0">
                        <h3 class="mb-0">
                          <i class="far fa-clone pr-1"></i>Adventure Log:
                          <button id="open-modal" style="display:inline" class="float-right">Post a New Adventure</button>
                        </h3>
                      </div>
                      <div class="card-body pt-0">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                          Autem labore accusamus minus explicabo ipsa corporis incidunt, 
                          quis recusandae distinctio deserunt, dicta ea inventore magnam 
                          eius facere quia voluptatum laborum qui.</p>
                      </div>
                    </div>
                    <div style="height: 26px"></div>
                    <div class="card shadow-sm">
                      <div class="card-header bg-transparent border-0">
                        <h3 class="mb-0">
                          <i class="far fa-clone pr-1"></i>Map Goes Here:
                        </h3>
                      </div>
                      <div class="card-body pt-0">
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipiscing
                          elit, sed do eiusmod tempor incididunt ut labore et
                          dolore magna aliqua. Ut enim ad minim veniam, quis
                          nostrud exercitation ullamco laboris nisi ut aliquip
                          ex ea commodo consequat.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    
    <!-- Modal popups onclick on New Post -->
        <div id="modal-overlay">
            <div id="modal">
                <!-- Modal Header -->
                <div class="modal-header">
                <h2>Enter your destination info</h2>
                </div>
                <!-- Modal Content -->
                <div class="modal-content">
                    <div class="container h-100">
                        <form id='post'>
                            <div class="login-info mt-3">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">Destination Name:</span>
                                    </div>
                                    <input type="text" id="dname" name="dname" class="form-control" aria-label="dname" aria-describedby="basic-addon1">
                                </div>
                            </div>
                            <div class="login-info mt-3">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">Address:</span>
                                    </div>
                                    <input type="text" id="address" name="address" class="form-control" aria-label="address" aria-describedby="basic-addon1">
                                </div>
                            </div>
                            <div class="mb-3">
                                <textarea class="form-control" placeholder="Describe the place here..." type="text" id="description" name="description" rows="3"></textarea> 
                            </div>
                            </form>
                        <button id="upload_widget" >
                            Add Image
                        </button> 
                        <img id='uploaded-img' src="data:," alt width=200>
                        </div>
                </div>
                <!-- Button when Modal is open-->
                <div class="modal-footer">
                    <button id="close-modal">Close</button>
                    <button form='post' type='submit' id='submit'>Submit</button>
                </div>
            </div>
        </div>
    </main>
        <!-- cloudinary upload widget -->
        <script 
        src="https://widget.cloudinary.com/v2.0/global/all.js" 
        type="text/javascript">
        </script>
        <!-- local upload instantiation -->
        <script 
        src="./js/profile.js" 
        type="text/javascript">
       </script>
  
