:root {
  --white: #fff;
  --tan: #cad2c5;
  --light: #84a98c;
  --neutral: #52796f;
  --forest: #354f52;
  --dark: #2f3e46;
}

header {
  transition: all 0.5s;
  -webkit-text-stroke: 4px #d6f4f4;
  font-variation-settings: "wght" 900, "ital" 1;
  font-size: 15rem;
  text-align: center;
  color: transparent;
  font-family: sans-serif;
  text-shadow: 10px 10px 0px var(--tan), 15px 15px 0px var(--light),
    20px 20px 0px var(--neutral), 25px 25px 0px var(--forest),
    45px 45px 10px var(--dark);
  cursor: pointer;
}

header:hover {
  -webkit-text-stroke: 3px var(--light);
  font-variation-settings: "wght" 100, "ital" 0;
  text-shadow: none;
}

body {
  margin: 0;
  overflow-x: hidden;
  background-color: var(--dark);
}

.card {
  background-color: var(--dark);
}

.card-title {
  color: var(--white);
}

button {
  text-align: center;
  margin-right: 5px;
}
